header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  width: 1100px;
  gap: 34px;
  background-color: rgb(255, 255, 255);
}

.logo {
  min-width: 148px;
  min-height: 105px;
}

.logo img {
  height: 105px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.address-header {
  max-width: 236px;
  justify-self: end;
}

.address-footer {
  padding-inline-start: 50px;
}

.address ul {
  line-height: 24.3px;
  list-style-type: none;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.menu-list {
  letter-spacing: 0;
  line-height: 24.3px;
  list-style-position: inside;
  display: flex;
  list-style-type: circle;
  justify-content: space-between;
}
.menu-list li {
  font-size: 18px;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
.active-link {
  list-style-type: none;
  text-decoration: none;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
  z-index: 1;
  position: absolute;
}
.cover {
  display: flex;
  background-size: cover;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  position: relative;
  width: 1100px;
  min-height: 757px;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}
.cover-words {
  max-height: 385px;
  display: flex;
  letter-spacing: 30px;
  flex-direction: column;
}
h1 span {
  margin-bottom: 20px;
}

.word-center {
  align-self: center;
  margin-right: -30px;
}
.word-end {
  align-self: flex-end;
  margin-right: -30px;
}

.description {
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.description-text {
  align-self: center;
  word-spacing: 22px;
  color: #ffffff;
}

.description button {
  background-color: transparent;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  margin-left: auto;
}

.cover .cover-words {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
}
.lots {
  background-color: rgb(255, 255, 255);
  margin: 180px 0px 0px 0px;
  padding: 0px 24px 0px 24px;
}

.lots-head {
  font-size: 40px;
  color: black;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.lot article {
  min-height: 500px;
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lot {  
  display: block;
  list-style-type: none;
  width: 334px;
  padding: 48px 40px 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.lot-title {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 3px;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.lot-text {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 2;
  color: white;
  justify-self: flex-end;
}
.lots-list {
  row-gap: 25px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.lots-film-lot {
  background-image: url("../images/card-lot-01.jpg");
}
.lots-book-lot {
  background-image: url("../images/card-lot-02.jpg");
}
.lots-picture-lot {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin: 30px 0px 0px 40px;
}

.about {
  display: grid;
  gap: 25px;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0px 24px;
}

.about-image {
  height: 114px;
  width: 148px;
  background-size: cover;
  background-image: url("../images/logo-white.svg");
}

.about-image-background {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 35px 0px 0px 0px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: black;
}

.about-text-header {
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.about-paragraph {
  font-size: 20px;
  font-weight: 400;
}

.about-text {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer {
  padding-bottom: 82px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-menu {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.footer-menu ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer-menu-lots-words,
.footer-menu-about-words {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer-list {
  margin-right: 50px;
  justify-self: end;
}
.footer-list-socials {
  gap: 48px;
  display: flex;
  list-style-type: none;
}

.icon {
  width: 48px;
  height: 48px;
}
